{% if latest_chirp_list %}
    <form action="/chirps" method="post">
        <label for="message">Enter a chirp.</label>
        <input id="message" name="message" type="text">
        <input type="submit" value="Chirp">
    </form>
    <ul>
    {% for chirp in latest_chirp_list %}
        <div>
            <p>{{ chirp.user.username }}</p>
            <p>{{ chirp.message }}</p>
            <a href="/chirps/{{ chirp.id }}/edit/">Edit</a>
            <a href="#">Delete</a>
        </div>
    {% endfor %}
    </ul>
{% else %}
    <p>No chirps yet.</p>
{% endif %}

